<nav>
<ul class="col-xs-12 list-inline" ng-show='!logged'>
  <li>
    <form name="loginForm" ng-submit="login()">
        LOGIN 
        <input class='textfield' type='text' placeholder='username' ng-model='user_input'/>
        <input class='textfield' type='password' placeholder='password' ng-model='password_input'/>
        <input type='submit' value='LOGIN' class='btn btn-default'/>
    </form>
  </li>
  <li>
    <a href='#/register' class='btn btn-default'>REGISTER</a>
  </li>
</ul>
<ul class="col-xs-12 list-inline" ng-show='logged'>
  <li>
    <a href='#/main' class='btn btn-default'>FIND MOVIES</a>
  </li>
  <li>
    <a href='#/profile' class='btn btn-default'>MY PROFILE</a>
  </li>
  
  <li ng-show='isAdmin()'>
    <a href='#/editmovie' class='btn btn-default'>EDIT MOVIES</a>
  </li>
  
  <li>
    <a href='#/main' ng-click='logout()' class='btn btn-default'>LOGOUT</a>
  </li>
</ul>
</nav>